<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- Link para o arquivo CSS -->
    <title>Document</title>
</head>
<body>
    <form action="" method="post"> <!-- Formulário para enviar dados -->
        <input type="text" name="nome" placeholder="Digite seu nome" required>  <!-- Campo de entrada de texto -->       
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script> <!-- Link para o arquivo JavaScript -->
</body>
</html>